@media screen and (min-width: 725px) {
    #menu {
      display: none;
    }
    .nav_links li {
        display: inline-block;
        flex: 1 1 100%;
      }
      .nav_links {
        flex-direction: row;
      }
  }
  