header {
    display: grid;
    background-color: #175eab;
    color: white;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card {
    border-color: 1px black;
    background-color: #eceaeb;
}

footer {
    display: grid;
    background-color:#175eab;
    color: white;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}
section {
    width: 70%;
    text-align: center;
}

#visual {
box-shadow:14px 16px 12px -3px#4c4b4b;
 grid-row: 1/5;
 grid-column: 1/2;
 height: 550px;
 grid-gap: 10px;

    }
 #hicks {
box-shadow:14px 16px 12px -3px #4c4b4b;
grid-row: 1/5;
grid-column: 2/3;
height: 550px;
grid-gap: 10px;

    }
#ruleofthirds {
box-shadow:14px 16px 12px -3px #4c4b4b;
grid-row: 1/5;
grid-column: 3/4;
height: 550px;
grid-gap:10px;

}

img {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    
}
a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
a:hover {
    color: #175eab;
}
h2 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
