header {
    display: grid;
    background-color: #175eab;
    color: white;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#examples {
        display: flex;
        justify-content: center;
        align-items: center;
}
.card {
    background-color: #eceaeb;
}

footer {
    display: grid;
    background-color:#175eab;
    color: white;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
}

main {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}
section {
    width: 70%;
    text-align: center;
}

#visual {
box-shadow:14px 16px 12px -3px#4c4b4b;
 grid-row: 1/5;
 grid-column: 1/2;
 height: 550px;
 grid-gap: 10px;

    }
 #hicks {
box-shadow:14px 16px 12px -3px #4c4b4b;
grid-row: 1/5;
grid-column: 2/3;
height: 550px;
grid-gap: 10px;

    }
#rot {
box-shadow:14px 16px 12px -3px #4c4b4b;
grid-row: 1/5;
grid-column: 3/4;
height: 550px;
grid-gap:10px;

}

img {

    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    
}
a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
a:hover {
    color: #175eab;
}
h2 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
hr {
    width: 100%;
}

.description {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    background-color: white;
}

.visualinfo {
    grid-row: 6/9;
    grid-column: 1/2;
    height: 550px;
    grid-gap: 10px;
    background-color:#e0e0e0;
    border:2px solid black;
    margin-bottom: 20px;
    padding: 20px;
}


.hicksinfo {
    grid-row: 6/9;
    grid-column: 2/3;
    height: 550px;
    grid-gap: 10px;
    background-color: #e0e0e0;
    border:2px solid black;
    margin-bottom: 20px;
    padding: 20px;

}

.rotinfo{
    grid-row: 6/9;
    grid-column: 3/4;
    height: 550px;
    grid-gap: 10px;
    background-color: #e0e0e0;
    border:2px solid black;
    margin-bottom: 20px;
    padding: 20px;

}
#dropboxdesc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-top: 10px;
}
#appledesc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-top: 10px;
}
#porschedesc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-top: 10px;
}