@media screen and (min-width: 60em) { 
    header {
        background-color: #175eab;
        color: #000;
      }
      main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
      }
      footer {
        background-color: #175eab;
        color: #000;
      }
    }