@media (min-width: 1024px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }
  .card {
    grid-row: auto; /* Reset grid positioning */
    grid-column: auto; /* Reset grid positioning */
    height: auto;
  }
}