/* Basic styling for Home Page************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    font-family: sans-serif;
  }
  nav {
    background: #144500;
    padding: 5px 20px;
  }
  ul {
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
footer {
    background-color:#144500;
    display: block;
    align-items: center;
    padding: 30px 10%;
}
footer p {
    text-align: center;
    color: white;
}
header {
  gap: 1rem;
}

main {
  display:grid;
  margin: 2em 40px;
  gap: 2em 2em;
  grid-template-columns: 20em 1fr 15em;
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
}
main h2 {
  padding: 1rem;
}
#weather-info {
  display: block;
  text-align: center;
  width: 15em;
  height: 20em;
  background-color:#ccc;
  border-radius: 0.5rem;
  border: 1px solid black;
}
#weather-info p {
font-size: 18px;
padding: 5px;
}

#weather-info h2 {
padding: 0.5em;
}

  a:hover {
    color:yellow;
    transition: all 1s;
  }
  .logo a:hover {
    text-decoration: none;
  }
  .logo {
    text-align: center;
  }
  .menu li {
    font-size: 16px;
    padding: 15px 10px;
    white-space: nowrap;
  }
  .logo a,
  .toggle a {
    font-size: 20px;
  }
  .button.secondary {
    border-bottom: 1px #444 solid;
  }

  .light-mode {
    /* CSS styles for light mode */
    background-color: #fff;
    color: #000;
  }
  
  .dark-mode {
    /* CSS styles for dark mode */
    background-color: #333;
    color: #fff;
  }
  /* Hide the checkbox input */
#darkModeSwitch {
    display: none;
  }
  
  /* Styles for the switch container */
  #switchLabel {
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 17px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Styles for the switch toggle */
  #switchLabel::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #fff;
    top: 4px;
    left: 4px;
    transition: transform 0.3s;
  }
  
  /* Styles for the switch toggle when in dark mode */
  #darkModeSwitch:checked + #switchLabel {
    background-color: #63717f;
  }
  
  #darkModeSwitch:checked + #switchLabel::before {
    transform: translateX(26px);
  }
  
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .toggle {
    order: 1;
  }
  .item.button {
    order: 2;
  }
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }
  
  /* Navbar Toggle */
  .toggle {
    cursor:pointer;
  }
  #menu {
    display: inline-block;
    font-size: 30px;
    padding: 0.4rem 0.7rem;
    position: absolute;
    top: 15px;
    right: 0;
  }
  #menu::before {
    content: "≡";
    color: black;
    background-color: white;
  }
  #menu.show::before {
    content: "X";
    color:black;
    background-color: white;
  }
  .show li {
    display: block;
    width: 100%;
    height: 10px;
    padding: 30px;
  }

  .hero {
    width: 100%;
  }
.hero img{
  border-radius: 0.5rem;
  border: 1px solid black;
}
  /* Tablet menu */
  @media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }
  
    .logo {
        flex: 1;
    }
  
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
        order: 0;
    }
    .button a {
        padding: 7.5px 15px;
        background: black;
        border: 1px darkgray solid;
        border-radius:50em;
    }
    .button.secondary a {
        background: transparent;    
    }
    .button a:hover {
        text-decoration: none;
        transition:all .25s;
    }
    .button:not(.secondary) a:hover {
        background: orange;
        border-color:black;
    }
    .button.secondary a:hover {
        color: #ddd;
    } 
  }
  
  /* Desktop menu */
  @media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
  }

  .marikina-logo img{
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border-radius: 10px;
  }

  .latest-news{
    border-radius: 0.5rem;
    border: 1px solid black;
    background-color: #ccc
  }
  .upcoming-events {
    border-radius: 0.5rem;
    border: 1px solid black;
    background-color: #ccc;
  }
  .learn-more{
    border-radius: 0.5rem;
    border: 1px solid black;
    background-color: #ccc;
  }
  .new-business{
    border-radius: 0.5rem;
    border: 1px solid black;
    background-color: #ccc;
  }

  /***************

  DISCOVER PAGE ***************/

  .discover {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .discover-header, h1 {
    text-align:center;
    margin: 0.5rem;
    padding: 1rem;
    background: #ccc;
  }
  .discover-date{
    margin: 0.5rem;
    width:100%;
    height: 2.5rem;
    background-color: #ccc;
  }
  div img {
    border: 1px solid black;
    border-radius: 0.5rem;
    margin-top:  3rem;
  }
  .visit-history{

    background-color: #ccc;
    width: 100%;
    height: 3rem;
    margin: 0.3rem;
  }
  .riverbanks ul{
    margin: 0.5rem;
    list-style-type: disc;
  }
  .riverbanks p, li{
    text-align: left;
    margin: 0.5rem;
  
  }
  .riverbanks, h2{
    text-align: center;
  }
  .sports-center, p{
    margin: 0.5rem;
    text-align: left;
  }
  #date {
    text-align: center;
    font-size: 1.5rem;
  }
  #visitMessage{
    text-align: center;
    font-size: 1.5rem;
    margin: 0.5rem;
  }
  .riverbanks {
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 10px;
  }
  .sports-center{
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 10px;
  }
  .giant-shoe{
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 10px;
  }
  .freedom-park {
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 10px;
  }
  .freedom-park, p {
  line-height: 2;
  }
  .concepcion-church{
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 10px;
  }
  .marikina-market {
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 10px;
  }
