@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Lato:wght@100&family=Mooli&family=Oswald:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
font-family: 'AR One Sans', sans-serif;
}
header {
    background-color:#deb887;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 10%;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: 1rem;
}
.logo {
    cursor: pointer;
    margin-right:auto;
    width: 100px;
    height: 100px;
}
li a {
    color: #1d1b1d;
    text-decoration: none;
}

.nav_links {
list-style: none;
}

.nav_links li {
display: inline-block;
padding: 0px 20px;

}
.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: white;
}
.one {
    display: grid;
    grid-template-rows: 1fr;
    gap: 1.5em;
}
.two {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 500px;
    padding: 30px;
}
.three {
    display: grid;
    grid-template-columns: 1fr 250px 250px 1fr;
    height: 350px;
}

.two p {
    text-align: center;
}
.marikina {
    width: 100%;
    height: 700px;
}
.marikina2 {
    width: 100%;
    height: 100%;
    padding: 10px;
}
.marikina3 {
    width: 100%;
    height: 100%;
    padding: 10px;
}
.join{
    display: inline-block;
    justify-self: center;
    text-align: center;
    text-decoration: none;
    color: #1d1b1d;
    padding: 20px;
    border-radius: 3px;
}
.join:hover {
    background-color: #501d0c;
    color: white;
    transition: all 0.3s ease 0s;
}
footer {
    background-color:#deb887;
    display: block;
    align-items: center;
    padding: 30px 10%;
}
footer p {
    text-align: center;
}
header, footer, main{
    max-width: 100%;
    margin: 0;
}

#menu {
    display: inline-block;
    background: var(--sub-bg);
    font-size: 2.2rem;
    padding: 0.4rem 0.7rem;
    position: absolute;
    top: 0;
    right: 0;
  }
  #menu::before {
    content: "≡";
  }
  #menu.show::before {
    content: "X";
  }

  .nav_links {
    display: flex;
    flex-direction: row;
    color: #1d1b1d;
  }
  .nav_links li {
    display: none;
  }
  .nav_links li a {
    display: block;
    padding: 0.6rem;
    text-decoration: none;
    font-family: 'AR One Sans', sans-serif;
    font-size: 1rem;
    color: #1d1b1d;
  }
  .show li {
    display: block;
    width: 100%;
  }
  .show li a {
    display: block;
  }

  .light-mode {
    /* CSS styles for light mode */
    background-color: #fff;
    color: #000;
  }
  
  .dark-mode {
    /* CSS styles for dark mode */
    background-color: #333;
    color: #fff;
  }
  /* Hide the checkbox input */
#darkModeSwitch {
    display: none;
  }
  
  /* Styles for the switch container */
  #switchLabel {
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 17px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Styles for the switch toggle */
  #switchLabel::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #fff;
    top: 4px;
    left: 4px;
    transition: transform 0.3s;
  }
  
  /* Styles for the switch toggle when in dark mode */
  #darkModeSwitch:checked + #switchLabel {
    background-color: #63717f;
  }
  
  #darkModeSwitch:checked + #switchLabel::before {
    transform: translateX(26px);
  }