body {
    font-family: Arial, sans-serif;
  }

  .joinform {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 625px 1fr;
    width: 100%;
    height: 100%;
    margin: 1rem 3rem;
  }

  .label-items {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    padding: 10px;
  }

  .input-text[type="text"],
  .input-password[type="password"],
  .input-email[type="email"],
  .input-telephone[type="tel"],
  .input-range[type="range"]
   {

    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .input-dropdown[type="text"]{
    width: 130px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 27em;
  }
  .input-description[type="text"]{
    width: 400px;
    height: 180px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 27em;
  }

  .submit {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }

  form {
    width: 600px;
    height: 100%;
    margin: auto;
    padding: 50px;
    border: 1px solid black;
    border-radius: 5px;
  }
  .submit:hover {
    background-color: #0056b3;
  }

  table {
    border-collapse: collapse;
    width: 1300px;
    height: 500px;
    border: 2px solid #000; /* Table border color */
    margin-left: 17em;
}

th, td {
    border: 1px solid #000; /* Cell border color */
    padding: 0;
    align-items: center;
}

th {
    background-color: #f2f2f2; /* Header background color */
    font-weight: bold; /* Make headers bold */
    font-size: 18px; /* Adjust header font size */
    text-transform: uppercase; /* Uppercase text */
    text-align: center; /* Center-align headers */
    color: black; /* Header text color */
    padding: 10px; /* Increase padding for a fancy look */
}
.descriptions li {
  padding: 30px;
}
table img {
  border: none;
}
.membership-title {
  padding: 20px;
}
td ul li {
  padding: 25px;
}
