@media screen and (min-width: 750px){

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 1rem ;
      }
      #menu {
        display: none;
      }
      .nav_links li {
        display: block;
        flex: 1 1 100%;
      }
      .nav {
        flex-direction: row;
      }

} 