@media screen and (min-width: 1220px) {
    #menu {
      display: none;
    }
    .nav_links li {
      display: block;
      flex: 1 1 100%;
    }
    .nav_links {
      flex-direction: row;
    }
    #hero img {
      width: 100%;
    }
    main {
      display: grid;
      grid-template-columns: auto 1fr 1fr;
    }
    main section:last-child {
      grid-column: 1/4;
    }
  }
  