@media screen and (min-width: 768px){

    main {
        display: grid;
        grid-template-columns: 1fr;
        margin: 1rem ;
      }
      #menu {
        display: none;
      }
      .nav_links li {
        display: block;
        flex: 1 1 100%;
      }
      .nav {
        flex-direction: row;
      }

    .two {
      display: grid;
      
    }
} 