@media screen and (max-width: 414px) {

  main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    margin:0;
  }
  #weather-info {

    margin: 1em 5.5em;
  }
  .hero {
    border: 1px black solid;
  }
  .new-business {
    order:2;
    margin-bottom: 0.4em;
  }
  .discover {
      grid-template-columns: 1fr;
      grid-template-rows: 320px 1fr 320px 1fr 320px ;
  }
  .discover img {
    width: 100%;
    height: 20em;
  }
  .card {
    height: 2rem;
  }
}