@media screen and  (min-width: 500px){
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

.container1 {
    display:grid;
    justify-content: center;
}

.container2 {
    display:grid;
   
}

.container3 {
    display:grid;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
   
}

.container4 {
    display:grid;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
   
}

.footer{

    background-color: darkolivegreen;
    display:grid;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}

.copyright {
    display: flex;
    color: white;
    top: 50px;
    }
.copylogo {
    display: flex;
    color: white;
}

.modify {

    right: 50px;
    z-index: 2;
}
p {
    color: white;
}

h3 {
    color: black;
    justify-content: center;
}
h2 {
    color: black;
    justify-content: center;
}

ol {

    color: white;
}

h1 {

    color:white;
}

body {

    font-family: 'Mooli', sans-serif;
}

.head1{

    background-color: darkolivegreen;
}

.myname1 {
    
    position: relative;
    bottom: 50px;
    left: 175px;
    color: white;


}

img{
    display: grid;
    width: 150px;
    height: 150px;
    position: relative;
    top: 50px;
} 
nav{
    display:grid;
    background-color: white;
    color: azure;
    list-style:none;  
  }
  
nav a {
    text-decoration:none;
    padding: 0;
    color:black;
    transition:all 1s ease-out;
    font-family:'Teko', sans-serif;
    text-align:center;
    padding:  8px;
  }
  
  nav a:hover{

    background-color: gray;
  
  }
  .me3 {
    
    color: white;
  }
}