
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

* {
box-sizing: border-box;
}
header {
    background-color: darkolivegreen;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}
main {

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: 1rem;
}

.container1 {
    text-align: right;
}
.container1-1{
    text-align: left;
    justify-items: center;
    margin-top: 70px;
    margin-left: 20px;
}

.container3 {
    display:grid;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
   
}

.container4 {
    display:grid;
    justify-content: center;
    border: 1px solid black;
    padding: 50px;
    box-sizing: border-box;
    background-color: white;
   
}

footer{
    background-color: darkolivegreen;
    border: 1px solid black;
    position: relative;
    text-align: center;
    padding: 3rem;
}

p {
    color: white;
}
span {
    color: white;
}

h3 {
    color: black;
    justify-content: center;
}
h2 {
    color: black;
    justify-content: center;
}

ol {

    color: black;
}

h1 {
    margin: 0.67em;
    color:white;
}

body {

    font-family: 'Mooli', sans-serif;
}

.head1{

    background-color: darkolivegreen;
}

div a {

    display: block;
}

img{
    width: 150px;
    height: 150px;
} 
nav{
    margin: 27.5px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: azure;
    list-style:none;  
  }
  
nav a {
    margin: 0.5rem;
    text-decoration:none;
    color:black;
    font-family:'Teko', sans-serif;
    text-align:center;
  }
  
  nav a:hover{

    background-color: gray;
    border: 1px;
    color: white
  
  }
  header, nav, main {
    max-width: 100%;
  }
