
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

* {
box-sizing: border-box;
}
header {
    background-color: darkolivegreen;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}
main {

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: 1rem;
}

.container1 {
    text-align: right;
}
.container1-1{
    text-align: left;
    justify-items: center;
    margin-top: 70px;
    margin-left: 20px;
}

.container3 {
    display:grid;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
   
}

.container4 {
    display:grid;
    justify-content: center;
    border: 1px solid black;
    padding: 50px;
    box-sizing: border-box;
    background-color: white;
   
}
.navlist {
    display: flex;
}
.show li {
    width: 100%;
}
#menu {
    display:inline-block;
    background-color: gainsboro;
    color:black;
    font-size: 2rem;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 11.5rem;
}
#menu::before {
  content: "≡";
}
#menu.show::before {
  content: "X";
}
.navlist {
  display: flex;
  flex-direction: column;
  color: #e0ffff;
}
.navlist li {
  display: none;
}
.navlist li a {
  display: block;
  padding: 0;
  text-decoration: none;
  font-family: 'Mooli', sans-serif;
  font-size: 1rem;
  color: black;
}
.active::after {
    content: " ⁕";
  }
.show li {
  display: block;
  width: 100%;
}
.show li a {
  display: block;
}

nav {
  margin: 0px auto;
  padding: 1rem;
  background-color: #727350;
}
footer{
    background-color: darkolivegreen;
    border: 1px solid black;
    position: relative;
    text-align: center;
    padding: 3rem;
}

p {
    color: white;
}
span {
    color: white;
}

h3 {
    color: black;
    justify-content: center;
}
h2 {
    color: black;
    justify-content: center;
}

ol {

    color: black;
}

h1 {
    margin: 0.67em;
    color:white;
}

body {

    font-family: 'Mooli', sans-serif;
}

.head1{

    background-color: darkolivegreen;
}

div a {

    display: block;
}

img{
    width: 150px;
    height: 150px;
} 
nav{
    margin: 27.5px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: azure;
    list-style:none;  
  }
  
nav a {
    margin: 0.5rem;
    text-decoration:none;
    color:black;
    font-family:'Teko', sans-serif;
    text-align:center;
  }
  
  nav a:hover{

    background-color: gray;
    border: 1px;
    color: white
  
  }
  header, nav, main {
    max-width: 100%;
  }
  iframe {
    width: 100%;
  }
  .hero {
    position:relative;
  }
  .hero picture {
    width: 100%;
  }
  .hero img {
    width: 100%;
    height: 1000px;
  }
  .temple-label {
    position: absolute;
    top: 30px;
    left: 30px;
    background: radial-gradient(#056c21fa, darkolivegreen);
    border: 1px solid rgba(0,0,0,.75);
    padding: 1.5rem;
  }
