@media screen and (min-width: 800px) {

  main {
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    margin: 3rem ;
  }
    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    h1 {
      grid-column: 1/3;
    }
    }
  