body {
    margin:0;
    padding:0;
    font-family:'Economica';
    background-color: rgb(255, 255, 224);
}

.navbar {
 background-color: darkblue;
 height: 70px;
 overflow: hidden;
}

/* Style the navigation bar links */
.navbar a {
 float: right;
 display: block;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 margin-right: 5px;
 font-size: 22px;
}

/* Change the color of links on hover */
.navbar a:hover {
 color: orange;
}

/* Add a color to the active/current link */
.navbar a.active {
 background-color: #4CAF50;
 color: white;
}

/* Style the navigation bar to make all links fit in one line */
.navbar ul {
 padding: 0;
 margin: 0;
 list-style-type: none;
 white-space: nowrap;
}

/* Style the title div */
.navbar .title {
 position: absolute;
 left: 50%;
 transform: translateX(-50%);
 font-size: 40px;
 color: #f2f2f2;
 line-height: 50px;
 white-space: nowrap;
}
.logo{
float: left;
padding: 10px;
}
.home-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 400px 1fr;
}
.hero-image img {
    width: 100%;
    height: 400px;
}
.image-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    padding: 30px;
}

.image-list img {
    width: 100%;
    height: 350px;
    border-radius: 0.5em;
}

.hero-image {
    position: relative;
    text-align: center;
    color: white;
}


.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e4eff3;
    color: rgb(12, 21, 121);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-family: 'Oswald';
}
.button:hover{
    background-color: #4CAF50;
}
footer {
background-color: darkblue; /* Dark blue */
  padding: 1em;
  text-align: center;
  color: white;
}
.descriptions {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    margin: 10px;
}
.honda-dio{
    font-size: 30px;

}
.pioneer-atv{
    font-size: 30px;
}
.jeep-wrangler{
    font-size: 30px;
}
.weather-forecast {
    background-color: #f7f7f7;
    padding: 20px;
  }
  
  .forecast {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .forecast-day {
    margin: 10px 0;
  }
  
  .forecast-day img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .forecast-day span {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .forecast-day p {
    font-size: 14px;
    color: #666;
  }
  .forecast-inf{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
  }
  .weather-and-forecast {
    background-color: skyblue;
    height: 550px;
    text-align: center;
    border: 1px solid black;
    font-size: 17px;
    border-radius: 5px;
  }
  .weather-container {
    text-align: center;
    font-size: 25px;
  }.background-image{
    background-color: white;
  }
  .footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 110px;
  }
  .footer-title{
    display: flex;
    gap: 1.5rem;
    justify-content:  center;
  }
  .footer-info {
    display: block;
    float: right;
    text-align: center;
  }
  .rentalmain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  #rentalTable {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 700px;
    position: absolute;
   text-align: center;
   background-color: white;
  }

  #rentalTable th, #rentalTable td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

  #rentalTable th {
    background-color: lightblue;
    color: black;
  }

  #rentalTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .hamburger {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 10px auto;
    cursor: pointer;
  }
  
  .hamburger span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .hamburger span::before {
    content: '=';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }