*{
  box-sizing: border-box;
}
body {
    margin:0;
    padding:0;
    font-family:'Economica';
    background-color: rgb(255, 255, 224);
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color:darkblue;
  color: white;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
  font-size: 1.3rem;
}
.navbar-links li a:hover{
  color:black;
}

.navbar-links li:hover {
  background-color: white;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.home-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 400px 1fr;
}
.hero-image img {
    width: 100%;
    height: 400px;
}
.image-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    padding: 30px;
}

.image-list img {
    width: 100%;
    height: 350px;
    border-radius: 0.5em;
}

.hero-image {
    position: relative;
    text-align: center;
    color: white;
}


.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e4eff3;
    color: rgb(12, 21, 121);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-family: 'Oswald';
}
.button:hover{
    background-color: #4CAF50;
}
footer {
background-color: darkblue; /* Dark blue */
  padding: 1em;
  text-align: center;
  color: white;
}
.descriptions {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    margin: 10px;
}
.honda-dio{
    font-size: 30px;
}
.pioneer-atv{
    font-size: 30px;
}
.jeep-wrangler{
    font-size: 30px;
}
.weather-forecast {
    background-color: #f7f7f7;
    padding: 20px;
  }
  
  .forecast {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .forecast-day {
    margin: 10px 0;
  }
  
  .forecast-day img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .forecast-day span {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .forecast-day p {
    font-size: 14px;
    color: #666;
  }
  .forecast-inf{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
  }
  .weather-and-forecast {
    background-color: skyblue;
    height: 550px;
    text-align: center;
    border: 1px solid black;
    font-size: 17px;
    border-radius: 5px;
  }
  .weather-container {
    text-align: center;
    font-size: 25px;
  }.background-image{
    background-color: white;
  }
  .footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 110px;
  }
  .footer-title{
    display: flex;
    gap: 1.5rem;
    justify-content:  center;
  }
  .footer-info {
    display: block;
    float: right;
    text-align: center;
  }
  .rentalmain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  #rentalTable {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    display: inline-block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
  }

  #rentalTable th, #rentalTable td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

  #rentalTable th {
    background-color: lightblue;
    color: black;
  }

  #rentalTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .hamburger {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 10px auto;
    cursor: pointer;
  }
  
  .hamburger span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .hamburger span::before {
    content: '=';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

.honda-metro {
  display: flex;
  font-size: 1.5rem;
}
.honda-metro img{
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 5px;
}
.honda-metro h2 {
  margin-left: 100px;
  margin-right: 100px;
}
.honda-dio{
  display: flex;
  font-size: 1.5rem;
}
.honda-dio img {
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 5px;
}
.honda-dio h2{
  margin-left: 100px;
  margin-right: 100px;
}
.honda-pcx150 {
  display: flex;
  font-size: 1.5rem;
}
.honda-pcx150 img{
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 5px;
}
.honda-pcx150 h2{
  margin-left: 70px;
  margin-right: 70px;
}
.honda-pioneer{
  display: flex;
  font-size: 1.5rem;
}
.honda-pioneer img{
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 5px;
}
.honda-pioneer h2 {
  margin-left: 70px;
  margin-right: 70px;
}
.jeep-wrangler-1 {
  display: flex;
  font-size: 1.5rem;
}
.jeep-wrangler-1 img{
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 5px;
}
.jeep-wrangler-1 h2 {
  margin-left: 50px;
  margin-right: 50px;
}
.jeep-wrangler-2 {
  display: flex;
  font-size: 1.5rem;
}
.jeep-wrangler-2 img{
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 5px;
}
.jeep-wrangler-2 h2{
  margin-left: 50px;
  margin-right: 50px;
}

/* -------------------------- */

.reservation-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 800px;
}
.rental-agreement-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  margin: 20px;
}

.rental-agreement-item {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}
.container {
  height: 780px;
  width: 350px;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
  align-items: center;
  margin-right:auto;
  margin-left: auto;
  background-color: lightgrey;
}

label {
  display: block;
  margin-top: 10px;
  padding: 3px;
}

input[type="text"], input[type="email"], select, textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
}

textarea {
  resize: none;
}
.contact-form{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.form-submit {
display: block;
margin: 30px auto;
padding: 5px;
}
.form-submit:hover {
  background-color: orange;
}
.period-date {
  display: flex;
  gap: 1.5rem;
}
.period-date input{
  height: 30px;
}
.period-date p{
  padding-bottom: 20px;
}
iframe {
  display: flex;
  margin: 20px auto;
}
#contactForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  max-width: 350px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
 }
 
 #contactForm label {
  font-weight: bold;
  margin-bottom: 5px;
 }
 
 #contactForm input[type="text"],
 #contactForm input[type="email"],
 #contactForm textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  font-size: 14px;
 }
 
 #contactForm input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
 }
 
 #contactForm input[type="submit"]:hover {
  background-color: #45a049;
 }

 .contact-banner {
  display: flex;
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 20px;
  width: 300px;
  height: 200px;
  margin: 15px auto;
}
.contact-info {
  text-align: center;
}

.contact-info h2 {
  margin-top: 0;
}

.contact-info p {
  margin-bottom: 5px;
}

@media only screen and (min-width: 415px){
  .header-page {
    display:none;
  }
  .small-view-info{
    display:none;
}
}